<div class="info {{ className }}">
    <label class="label" for="{{ name }}">{{ label }}:</label>
    <input type="text" id="{{ name }}" name="{{ name }}" value="{{ value }}" class="info_input" required>
</div>