{% if type == "select" %}

<div class="inputContainer {%if className %}{{className}}{% endif %}">
    <label for="{{name}}">{{label | append: ':' |capitalize }}</label>
    <select id="{{name}}" class="select" name="{{name}}">
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>
</div>

{% elsif type == "radio" %}

<div class="inputContainer">
    <label>{{label |append: ':' | capitalize }}</label>
    <div class="radio">
        {% for parnerType in parnerTypes %}
        <div class="container">
            <input id="{{parnerType.name}}" type="radio" value="{{parnerType.id}}" name="{{name}}" />
            <label for="{{parnerType.name}}">{{parnerType.name | capitalize}}</label>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}

<div class="inputContainer">
    <label for="{{ name }}">{{ label | capitalize }}</label>
    <input type="{{ type }}" id="{{ name }}" name="{{ name }}">
</div>

{% endif %}
